a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

::selection {
background:#169FE6;
color:#FFF;
}
::-moz-selection {
background:#169FE6;
color:#FFF;
}
 @font-face {
 font-family: 'MuseoSlab500Regular';
 src: url('../font/Museo_Slab_500-webfont2.eot');
 src:
 url('../font/Museo_Slab_500-webfont2.eot') format('embedded-opentype'), url('../font/Museo_Slab_500-webfont.svg') format('svg'), url('../font/Museo_Slab_500-webfont2.woff') format('woff'), url('../font/Museo_Slab_500-webfont2.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

/*------ template stylization ------*/
/* headings, text */
h1, h2, h3, h4, h5, h6 { font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; color: #111111; font-weight: normal; line-height: 1.3em; }

h2 { font-size: 16px; margin: 35px 0 18px 0; }

h2 > span { display: block; margin-top: -5px; }

p { margin-bottom: 22px; }

.lead { font-family: Arial, sans-serif; font-size: 15px; line-height: 22px; color: #169FE6; margin: 0; text-decoration: none; }

a.lead { text-decoration: none; }

a.lead:hover { color: #525050; }

.lead-1 { color: #333; display: inline-block; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; font-size: 15px; font-weight: 400; line-height: 22px; margin: 5px 0 11px; text-decoration: none; }

a.lead-1 { text-decoration: none; }

a.lead-1:hover { color: #525050; }

figure { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: #f5f5f5 7px solid; display: inline-block; margin: 0; }

footer figure { border: #111 7px solid; }

.text-info { color: #777777; font-size: 14px; font-weight: normal; }

p.text-info { margin-bottom: 17px; }

.font-12 { font-size: 12px; line-height: 20px; }

.font-12 p { margin-bottom: 20px; }

small { font-size: 11px; line-height: 13px; display: block; color: #b4b4b4; }

small.p2 { line-height: 18px; }

.fleft { float:left; }

.fright { float:right; }

.upper { text-transform: uppercase; }

.centre { text-align: center; }

.top-0 { margin-top: 0 !important; }

.bot-0 { margin-bottom: 0 !important; }

.left-0 { margin-left: 0 !important; }

.last { margin-right: 0 !important; }

.indent-1 { margin: 45px 0 28px; }

.indent-2 { margin-top: 59px !important; }

.indent-3 { margin: 30px 0 18px !important; }

.p0 { margin-bottom: 0px !important; }

.p1 { margin-bottom: 17px !important; }

.p2 { margin-bottom: 8px !important; }

.p3 { margin-bottom: 30px !important; }

.separator:before { background: none repeat scroll 0 0 #F7F7F7; bottom: 0; content: ""; height: 5px; left: 0; position: absolute; width: 100%; -webkit-box-shadow: 0 1px 2px #DDDDDD inset; -moz-box-shadow: 0 1px 2px #DDDDDD inset; box-shadow: 0 1px 2px #DDDDDD inset; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; behavior: url(css/PIE.htc); }

.separator { padding-bottom: 45px; position: relative; }

.img-border { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E7E7E7; display: inline-block; float: left; margin: 4px 0 18px 1px; padding: 5px; }

.img-border img { float: none !important; margin: 0 0 0 !important; width: 100% !important; }

.img-border1 { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E7E7E7; display: inline-block; float: left; margin: 4px 30px 18px 1px; padding: 5px; width: 98%; }

.img-border1 img { float: none !important; margin: 0 0 0 !important; width: 100% !important; }

.img-border2 { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E7E7E7; display: inline-block; float: left; margin: 4px 30px 0 1px; padding: 5px; }

.img-border2 img { float: none !important; margin: 0 0 0 !important; width: 100% !important; }

.img-indent { margin: 5px 25px 10px 0; float: left; }

.extra-wrap { overflow: hidden; }

.border-right { border-right: #f1f1f1 1px solid; margin-right: 20px; padding-right: 20px; }

ul.list { margin: 0; list-style: none; }

ul.list li { padding: 0px 0 8px 13px; background: url(../img/marker-1.png) 0 8px no-repeat; font-size: 12px; line-height: 22px; }

ul.list li a { color: #777777; }

ul.list li a:hover { color: #000; }

/* ===================================== */
/* Breadcrumb*/
/* ===================================== */
#page-title { margin: 20px 0 30px; }

#page-title .breadcrumb { background: none repeat scroll 0 0 transparent; list-style: none outside none; margin: 0; padding: 0; }

/* ===================================== */
/* our team*/
/* ===================================== */

.hiring { background: none repeat scroll 0 0 #fff; border: 1px solid #EEEEEE; padding: 30px; margin: 35px 0 1px; text-align: center; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; }

.hiring h2 { margin: 0 0 18px; }

/* ===================================== */
/* dropcap*/
/* ===================================== */

.dropcap-1 { background: none repeat scroll 0 0 #333; color: #FFFFFF; display: inline-block; float: left; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; font-size: 29px; font-weight: 700; height: 26px; line-height: 26px; margin-right: 15px; margin-top: 5px; padding: 10px; text-align: center; width: 26px; -webkit-border-radius: 30px 30px 30px 30px; -moz-border-radius:30px 30px 30px 30px; border-radius: 30px 30px 30px 30px; }

/* ===================================== */
/* our team*/
/* ===================================== */

.page-header1 { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; margin: 0 20px 20px; -webkit-box-shadow: 0 2px 2px #EEEEEE; -moz-box-shadow: 0 2px 2px #EEEEEE; box-shadow: 0 2px 2px #EEEEEE; }

.page-header1 h2 { margin: 0; padding: 15px 25px; text-transform: uppercase; }

.page-header1 h2 small { display: inline-block; font-size: 12px; padding-left: 15px; text-transform: lowercase; }

/* ===================================== */
/* our team*/
/* ===================================== */

.our-team span { color: #B4B4B4; display: block; font-size: 11px; line-height: 13px; margin-top: 0; }

ul.team-social-icon { border-bottom: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; padding: 10px 0; list-style: none outside none; margin: 0; }

ul.team-social-icon li { display: inline-block; float: none; }

.team-social-twitter { background-image: url("../img/social_icons/icon-twitter.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-facebook { background-image: url("../img/social_icons/icon-facebook.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-skype { background-image: url("../img/social_icons/icon-skype.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

.team-social-youtube { background-image: url("../img/social_icons/icon-youtube.png"); background-repeat: no-repeat; display: inline-block; height: 14px; line-height: 14px; margin-top: 1px; vertical-align: text-top; width: 14px; }

/* ===================================== */
/* Sidebar*/
/* ===================================== */
/*sidebar tabs*/
.sidebar-tabs { margin-top: 35px; }

.sidebar-tabs .nav-tabs { margin-bottom: 0px; }

.sidebar-tabs .tab-content { background: none repeat scroll 0 0 #FFFFFF; padding: 20px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; border-top: 0; }

/*sidebar image list*/
.sidebar-image-list { display: inline-block; margin: 0; }

.sidebar-image-list li { display: inline-block; float: left; margin-bottom: 15px; margin-right: 4%; width: 29%; }

.sidebar-image-list li .img-circle { background: none repeat scroll 0 0 #F5F5F5; float: left; width: 100%; }

.sidebar-image-list li .extra-wrap { padding: 0 0 0 0; }

.sidebar-image-list li h2 { margin: 0 0 8px 0; color: #949494; }

.sidebar-image-list li p { margin-bottom: 6px; }

.sidebar-image-list li p a { color: #999; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; margin-bottom: 6px; }

.sidebar-image-list li p a:hover { color: #169FE6; }

.sidebar-image-list li span { color: #777; }

/*text widget*/
.text-widget { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; padding: 30px; margin: 35px 0 0; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; }

.text-widget h2 { margin: 0 0 18px; }

/*=========================================================================
 Blog
========================================================================= */

.post-border-right { }

.post-holder { position:relative; }

.post-holder header { border: 0; z-index: 0; }

.post-holder figure { border: 0; }

.post-holder .time { display: inline-block; }

.post-holder .entry-title, .post-holder .entry-title a { font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-size: 22px; line-height: 28px; font-weight: 400; color:#222; text-decoration:none; }

.post-holder .entry-title a:hover { }

.post-meta { border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; display:inline-block; padding: 10px 0; width:100%; overflow:hidden; margin-bottom: 8px; }

.post-meta a { text-decoration:none; }

.post-meta a:hover { color: #000; }

.post-holder .date { position: relative; left: 0; top: -7px; background: url("../img/tail-nav.png") repeat-x scroll 0 0 transparent; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; float: left; width: 49px; height: 46px; margin: 35px 20px 8px 0; color: #fff; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.post-holder .date span { display: block; text-transform: lowercase; }

.post-holder .date .day { font-size: 18px; line-height: 1em; padding: 3px 0 3px; }

.post-holder .date .month { background: none repeat scroll 0 0 #169FE6; border-bottom: 2px solid #457FE6; font-size: 10px; margin-top: 0; text-transform: uppercase; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

.post-holder-sm .date { position: relative; left: 0; top: -7px; background: url("../img/tail-nav.png") repeat-x scroll 0 0 transparent; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; float: left; width: 49px; height: 46px; margin: 12px 15px 9px 0; color: #fff; text-align: center; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.post-holder-sm .date span { display: block; text-transform: lowercase; }

.post-holder-sm .date .day { font-size: 18px; line-height: 1em; padding: 3px 0 3px; }

.post-holder-sm .date .month { background: none repeat scroll 0 0 #169FE6; border-bottom: 2px solid #457FE6; font-size: 10px; margin-top: 0; text-transform: uppercase; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

.comments-link { display: block; color:#fff !important; width: 32px; height: 35px; background: url("../img/comments-bg.png") 0 0 no-repeat; font-family: 'Open Sans', Arial, Tahoma, sans-serif; font-size: 12px; color: #fff; text-align: center; line-height: 28px; margin: 35px 0 8px 20px; text-decoration: none; position: relative; }

.comments-link:hover { color:#40AED7 !important; }

/*  parent post */

.parent { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 1px #CCCCCC; margin-bottom: 30px; padding: 20px; position:relative; }

.parent-sub-img { background: url("../img/post-sub.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 70px; left: -22px; position: absolute; top: -30px; width: 19px; }

.parent h5 { margin-bottom: 2px !important; }

.parent h5 a:link, .parent h5 a:visited { color: #333333; font: bold 14px 'arial'; }

.parent img { float: left; }

.parent span { font: italic 12px 'georgia'; }

.parent a.reply:link, .parent a.reply:visited { background: none repeat scroll 0 0 #EB4D3A; color: #FFFFFF; font-size: 10px; font-weight: bold; margin-left: 20px; padding: 2px 6px; text-transform: uppercase; }

.parent a.reply:hover { background: none repeat scroll 0 0 #333; }

.parent p { margin-top: 10px; overflow: hidden; }

.child { margin-left: 40px; }

.subchild { margin-left: 80px; }

.blog-comments .parent h2 { margin: 0 0 3px; }

.blog-comments .parent span { font: italic 12px 'georgia'; }

.blog-comments .parent a.reply:link, .parent a.reply:visited { background: none repeat scroll 0 0 #169FE6; color: #FFFFFF; font-size: 10px; font-weight: bold; margin-left: 20px; padding: 2px 6px; text-transform: uppercase; }

.blog-comments .parent p { margin-top: 10px; overflow: hidden; }

.blog-comments .parent a.reply:hover { background: none repeat scroll 0 0 #333333; }

.blog-comments .img-circle { float: left; margin: 0 15px 15px 0; }

.blog-fleft { float: left; }

.blog-comments .parent img { float: left; }

.blog-comments .img-circle img { margin: 0; }

/*  Addthis Widget */
.addthis_button_google_plusone { position: relative; top: -13px; }

.addthis_toolbox { float: right; text-align: right; }

.addthis_toolbox.addthis_pill_combo a { margin-top: 2px; }

.addthis_toolbox.addthis_pill_combo a.addthis_button_tweet, .addthis_toolbox.addthis_pill_combo a.addthis_counter { margin-top: 2px; }

.addthis_button_compact .at15t_compact { float: left; margin-right: 4px; }

.addthis_button_google_plusone iframe { width: 80px !important; }

.addthis_button_tweet iframe { width: 98px !important; }

.addthis_button_facebook_like iframe { width: 98px !important; }

/*  Blog Video */
.sidebar-blog-video { width: 100%; height: auto; }

.sidebar-blog-video iframe { width: 100%; height: 433px; }

.fulwidthl-blog-video iframe { width: 930px; height: 341px; }

.three-col-blog-video iframe { width: 450px; height: 262px; }

.small-sidebar-blog-video iframe { width: 290px; height: 290px; }

.small-three-col-blog-video iframe { width: 210px; height: 204px; }

/*=========================================================================
Price Start
========================================================================= */

.price-table-two .price-column { width: 50%; }

.price-table-three .price-column { width: 33%; }

.price-table-four .price-column { width: 25%; }

.price-table-five .price-column { width: 20%; }

.price-table { overflow: visible; }

.price-column { float: left; margin: 10px 0; }

.price-column strong, strong a { font-family: Arial, sans-serif; line-height: 22px; }

.price-column ul li, .price-column h4 { text-align: center; }

.price-column .first { background-color: rgba(0, 0, 0, 0.01); margin: 0 0 0; padding: 12px; }

.price-column ul { list-style-type: none; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; font-size: 14px; margin: 0; }

.price-column .last { background: none repeat scroll 0 0 transparent; padding: 17px 10px 17px 10px; }

.price-column ul li { background: url("../img/price-list.png") repeat-x scroll 0 100% transparent; color: #777; padding: 10px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); }

.price-column h4 { border-bottom: 0 none; font-size: 18px; line-height: 36px; margin: 0; padding: 0; text-transform: uppercase; }

.price-column-featured h4 { font-size: 26px; line-height: 46px; }

.price-column-featured ul { padding-bottom: 11px; }

.price-column-first h4, .price-column-first { border-radius: 3px 0 0 0; -moz-border-radius: 3px 0 0 0; -webkit-border-radius: 3px 0 0 0; behavior: url(css/PIE.htc); }

.price-column-first { border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; behavior: url(css/PIE.htc); }

.price-column-last h4, .price-column-last { border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; behavior: url(css/PIE.htc); }

.price-column-last { border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17) inset; behavior: url(css/PIE.htc); }

.price-column h4 { background-color: #1a80b3; color: #fff; }

.price-column-even h4 { background-color: #373737; }

.price-column-first h4, .price-column-last h4 { background-color: #333; }

.price-column .price-tag { color: #777; text-shadow: 0 0 0; }

.price-column .button { display:inline-block; padding:8px 14px; color:#333; text-decoration:none; font-size:11px; line-height:1.2em; background-color: #fff; background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3)); /* Saf4+, Chrome */ background-image: -webkit-linear-gradient(top, #fff, #f3f3f3); /* Chrome 10+, Saf5.1+, iOS 5+ */ background-image: -moz-linear-gradient(top, #fff, #f3f3f3); /* FF3.6 */ background-image: -ms-linear-gradient(top, #fff, #f3f3f3); /* IE10 */ background-image: -o-linear-gradient(top, #fff, #f3f3f3); /* Opera 11.10+ */ background-image: linear-gradient(top, #fff, #f3f3f3); font-weight:bold; font-family:Arial, Helvetica, sans-serif; box-shadow:1px 1px 2px rgba(0, 0, 0, .2); -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(css/PIE.htc); margin-right:5px; }

.price-column .button:hover { background:#169FE6; color:#fff; text-decoration:none; }

.price-column { background-color: #fff; position: relative; behavior: url(css/PIE.htc); }

.price-column-even { background-color: #fafafa; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); behavior: url(css/PIE.htc); z-index: 3; }

.price-column li.even { color: #555555; }

.price-column-featured { background-color: #fff; border: 0 none; margin: 0; position: relative; margin-bottom: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; behavior: url(css/PIE.htc); z-index: 9; }

.price-column-featured h4 { background-color: #169FE6; color: #FFFFFF; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; behavior: url(css/PIE.htc); }

.price-tag .price-value { color: #169FE6; display: inline-block; font-size: 40px; font-weight: 300; line-height: 40px; margin-bottom: 8px; }

.price-tag .big { font-size: 46px; line-height: 43px; margin-bottom: 5px; }

.price-tag .price-period { font-size: 12px; line-height: 16px; }

/* ===================================== */
/* Buttons*/
/* ===================================== */
.button { display: inline-block; font-weight: bold; font-family:  Arial, sans-serif; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius: 3px; margin: 0 5px 5px 0; line-height: 17px; *float: left;
-webkit-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, .3); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3); }

.button:active { -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08); box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08); }

.button.medium i { float: left; margin: 2px 5px 0px -5px; }

.button.small i { float: left; margin: 1px 5px 0px -3px; }

.button.medium { padding: 7px 14px; font-size: 14px; }

.button.small { padding: 6px 12px; font-size: 12px; font-family: Arial, sans-serif; line-height: 16px; }

/* Yellow Button
==========================*/
.button.yellow, input[type="button"] { border: 1px solid #e6bd4c; background-image: linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -o-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -moz-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -webkit-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-image: -ms-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%); background-color: #FCCC73; color:#754c00; text-shadow: 1px 1px 0px #ffebb7; filter: dropshadow(color=#ffebb7, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #ae8c2e; -moz-box-shadow: 0 3px 0 0 #ae8c2e; box-shadow: 0 3px 0 0 #ae8c2e; }

.button.yellow:hover, input[type="button"]:hover { background: #fbd684; }

/* White Button
==========================*/
.button.white { border: 1px solid #dddddd; background-image: linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #FFFFFF 100%); background-color: #F7F7F7; color:#444; text-shadow: 1px 1px 0px #fff; filter: dropshadow(color=#ffffff, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #dddddd; -moz-box-shadow: 0 3px 0 0 #dddddd; box-shadow: 0 3px 0 0 #dddddd; }

.button.white:hover { background: #fbfbfb; }

/* Black Button
==========================*/
.button.black { border: 1px solid #464646; background-image: linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -o-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -moz-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -webkit-linear-gradient(bottom, #464646 0%, #656565 100%); background-image: -ms-linear-gradient(bottom, #464646 0%, #656565 100%); background-color: #464646; color:#fff; text-shadow: 1px -1px 0px #444; filter: dropshadow(color=#4444444, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #1a1a1a; -moz-box-shadow: 0 3px 0 0 #1a1a1a; box-shadow: 0 3px 0 0 #1a1a1a; }

.button.black:hover { background: #535353; }

/* Red Button
==========================*/
.button.red { border: 1px solid #b23730; background-image: linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -o-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -moz-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -webkit-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-image: -ms-linear-gradient(bottom, #C74039 0%, #E35752 100%); background-color: #C74039; color:#fff; text-shadow: 1px -1px 0px #a43b37; filter: dropshadow(color=#a43b37, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #7a211c; -moz-box-shadow: 0 3px 0 0 #7a211c; box-shadow: 0 3px 0 0 #7a211c; }

.button.red:hover { background: #ce4640; }

/* Green Button
==========================*/
.button.green { border: 1px solid #819633; background-image: linear-gradient(bottom, #849937 0%, #A3B951 100%); background-image: -o-linear-gradient(bottom, #849937 0%, #A3B951 100%); background-image: -moz-linear-gradient(bottom, #849937 0%, #A3B951 100%); background-image: -webkit-linear-gradient(bottom, #849937 0%, #A3B951 100%); background-image: -ms-linear-gradient(bottom, #849937 0%, #A3B951 100%); background-color: #849937; color:#fff; text-shadow: 1px -1px 0px #77873b; filter: dropshadow(color=#77873b, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #4f5e16; -moz-box-shadow: 0 3px 0 0 #4f5e16; box-shadow: 0 3px 0 0 #4f5e16; }

.button.green:hover { background: #93a749; }

/* Blue Button
==========================*/
.button.blue { border: 1px solid #1f70ad; background-image: linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -o-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -moz-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -webkit-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-image: -ms-linear-gradient(bottom, #2778C8 0%, #2B8EC7 100%); background-color: #2778C8; color:#fff; text-shadow: 1px -1px 0px #1c6396; filter: dropshadow(color=#1c6396, offx=1, offy=1); -webkit-box-shadow: 0 3px 0 0 #114a75; -moz-box-shadow: 0 3px 0 0 #114a75; box-shadow: 0 3px 0 0 #114a75; }

.button.blue:hover { background: #287fc8; }

/**/
/*----------- Back to top --------------*/
#toTop { display: none; width: 44px; height: 44px; overflow: hidden; background: url(../img/totop.gif) 0 0 no-repeat; position: fixed; margin-right: -640px !important; right: 50%; bottom: 20px; z-index: 999; }

#toTop:hover { background-position: right 0; }

#toTop:active, #toTop:focus { outline: none; }

/*------ header ------- */
.home-page .header-block { border-top: 3px solid #169FE6; }

.inner-page .header-block { border-top: 3px solid #169FE6; border-bottom: 1px solid #F7F7F7; }

.header-block { background: none repeat scroll 0 0 #FFFFFF; }

header { position: relative; z-index: 999; }

/*------ header top bar ------- */
#topbar { background: none repeat scroll 0 0 #FFFFFF; border-bottom: 1px solid #F7F7F7; }

#topbar address { display: inline-block; float: left; margin: 0; }

#topbar address .tel { background: none repeat scroll 0 0 transparent; margin: 8px 0; padding-left: 0; }

#topbar address a.email { background: none repeat scroll 0 0 transparent; margin: 5px 0; padding-left: 0; text-decoration: none; }

#topbar .vcard span, #topbar .vcard a { color: #999; display: inline-block; font-size: 12px; font-weight: bold; line-height: 17px; padding-right: 15px; width: auto; }

/*------ header top hide ------- */
#toppanel { position: absolute; width: 100%; z-index: 999; text-align: center; }

#panel { background: none repeat scroll 0 0 #169FE6; width: 100%; position: relative; top: 0; height: 0px; margin-left: auto; margin-right: auto; z-index: 10; overflow: hidden; text-align: left; }

#panel_contents { background: black; filter:alpha(opacity=70); -moz-opacity:0.70; -khtml-opacity: 0.70; opacity: 0.70; height: 100%; width: 100%; position: absolute; z-index: -1; }

.toggle-button { background: none repeat scroll 0 0 #169FE6; cursor: pointer; float: right; height: 25px; margin: 0 10px; text-align: center; width: 35px; }

.toggle-button a { color:#fff; }

#toppanel .thumbnails_2 .thumbnail_2 { margin: 16px 0 20px; }

#toppanel .thumbnails_2 .thumbnail_2 p { color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

/*------ header social icon ------- */
.header-social-icon { display: inline-block; float: right; margin: 7px 0; }

.header-social-icon li { list-style:none; float:right; margin:0px 0 0 5px }

.header-social-icon li .icon { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); color: #fff; width:22px; height:22px; float:left; font-size: 14px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition: all .3s ease;
-ms-transition:all .3s ease;
transition:all .3s ease
}

.header-social-icon li .icon:hover { background-color: #169FE6; }

/* slider */
.slider { position: relative; z-index: 1; padding: 0; }

.slider { overflow: hidden; }

.camera_wrap { margin-bottom: 0 !important; }

.camera_thumb { width: 150px; height: auto; }

.camera_wrap .camera_pag { position: absolute; bottom: 18px; left: 641px; z-index: 999; }

.camera_wrap .camera_pag .camera_pag_ul { list-style: none; margin: 0; padding: 0; text-align: center; }

.camera_wrap .camera_pag .camera_pag_ul li > span { display: none; }

.camera_wrap .camera_pag .camera_pag_ul li { background: #c4c4c4; width: 12px; height: 12px; display: block; float: left; margin-right: 7px; cursor: pointer; -webkit-border-radius: 18px 18px 18px 18px; -moz-border-radius: 18px 18px 18px 18px; border-radius: 18px 18px 18px 18px; }

.camera_wrap .camera_pag .camera_pag_ul li:hover { background: #434343; }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent { background: #434343; cursor: default; }

.camera_caption { top: 0px; left: 0px; display: block; position: absolute; width: 100%; }

.camera_caption > div { padding: 52px 30px 0 635px; }

.camera_caption h1 { color: #333; font-size: 23px; font-weight: 900; letter-spacing: 0; line-height: 23px; margin: 0; text-transform: uppercase; }

.camera_caption h2 { color: #666; font-size: 18px; margin: 10px 0 0; }

.camera_caption h3 { font-weight: 600; margin: -5px 0 0 0; }

.camera_caption p { margin-bottom: 0; margin-top: 10px; }

.camera_caption a { margin-top: 23px; }

/*--- header end ------*/
/*------ content ------- */
#content { background: none repeat scroll 0 0 #FFFFFF; border-bottom: 5px solid #F5F5F5; padding-bottom: 60px; z-index: 0; }

.page-grey #content { background: none repeat scroll 0 0 #F3F3F3; border-bottom: 5px solid #F5F5F5; padding-bottom: 20px; z-index: 0; }

.section-2 { background: none repeat scroll 0 0 #FAFAFA; border-bottom: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0; margin-bottom: 20px; margin-top: 10px; padding-bottom: 30px; text-align: center; }

.section-2 h2 { font-size: 26px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.section-2 span { color: #169FE6; display: inline; margin: 0; }

.section-2 p { margin-bottom: 15px; }

.section-4 { }

.section-4 h2 { font-size: 31px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.section-4 span { color: #169FE6; display: inline-block; margin: 0 0 8px; }

.section-4 p { margin-bottom: 5px; }

.section-3 { background: none repeat scroll 0 0 #222; padding: 0 0 40px 0; }

.design-section { background: url("../img/design-down.png") repeat-x scroll 0 bottom #F6F6F6; position: relative; margin-top: 45px; padding-bottom: 45px; }

.design-section:before { background: url("../img/design-up.png") repeat-x scroll 0 top transparent; content: " "; height: 5px; position: absolute; width: 100%; }

.design-section:after { }

.design-section h2 { font-size: 31px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.design-section .portfolio-overlay-content span { color: #169FE6; display: inline-block; margin: 0 0 8px; }

.design-section p { margin-bottom: 5px; }

.design-section2 { background: url("../img/design-down.png") repeat-x scroll 0 bottom #F6F6F6; position: relative; margin-top: 0px; padding-bottom: 0; }

.design-section2:before { background: url("../img/design-up.png") repeat-x scroll 0 top transparent; content: " "; height: 5px; position: absolute; width: 100%; }

.design-section2:after { }

.design-section2 h2 { font-size: 31px; font-weight: 300; margin-bottom: 6px; margin-top: 30px; }

.design-section2 .portfolio-overlay-content span { color: #169FE6; display: inline-block; margin: 0 0 8px; }

.design-section2 p { margin-bottom: 5px; }

.breadcrumb-wrapper { background: url("../img/6.jpg") repeat-x scroll 50% bottom #2377ad; position: relative; padding-bottom: 15px; }

.breadcrumb-wrapper:before { background: url("../img/design-up.png") repeat-x scroll 0 top transparent; content: " "; height: 5px; position: absolute; width: 100%; }

.breadcrumb-wrapper:after { }

.breadcrumb-wrapper h2 { color: #fff; float: left; font-size: 21px; font-weight: 300; margin-bottom: 6px; margin-top: 18px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); }

.breadcrumb-wrapper h2 small { color: #ccc; font-size: 13px; }

.breadcrumb-wrapper p { margin-bottom: 5px; }


.page-grey .design-section { background: url("../img/design-down.png") repeat-x scroll 0 bottom #fff; margin-top: 45px; padding-bottom: 0; }

.page-grey .design-section:before { background: url("../img/design-up.png") repeat-x scroll 0 top transparent; content: " "; height: 5px; position: absolute; width: 100%; }

.page-grey .design-section:after { }

.page-grey .design-section h2 { font-size: 18px; font-weight: 300; margin: 21px 0 18px; }

.page-grey .thumbnails_2 .thumbnail_2 { margin: 31px 0 0; }

.page-grey .contact-form textarea { height: 107px; }

.page-grey .design-section p { margin-bottom: 5px; }

.sub-content { padding-bottom: 69px; border-bottom: #cedff0 6px solid !important; border-top: #f5f5f5 11px solid !important; }

/* thumbnails */
.thumbnails { margin: 0 0 58px -20px; }

.thumbnails li { margin-top: 0px; margin-bottom: 0; float: left; }

.thumbnails .thumbnail, .thumbnails_2 .thumbnail_2, .thumbnails_3 .thumbnail_3, .thumbnails_4 .thumbnail_4, .thumbnails_5 .thumbnail_5 { background: none; -webkit-border-radius: none; -moz-border-radius: none; border-radius: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; padding: 0; }

.thumbnails .thumbnail { margin: 35px 0 0 0; }

.thumbnails .team { margin: 35px 0 35px 0; text-align: center; }

.thumbnails .thumbnail p { }

.thumbnails .thumbnail h2 { margin: 25px 0 14px 0; }

/**/
/* thumbnails_2 */
.thumbnails_2 { margin: 0 0 0px -20px; }

.thumbnails_2 .thumbnail_2 { margin: 46px 0 0 0; }

.thumbnails_2 .thumbnail_2 img { float: left; margin-right: 24px; margin-top: 3px; }

.thumbnails_2 .thumbnail_2 div { overflow: hidden; padding-top: 4px; }

.thumbnails_2 .thumbnail_2 p { margin-bottom: 0; }

.thumbnails_2 .thumbnail_2 h2 { margin: 0px 0 8px 0; }

.thumbnails_2 .thumbnail_2 a.btn { border: #21b44f 1px solid; }

.thumbnails_2 .thumbnail_2 a.btn:hover { border: #1a913b 1px solid; }

/* thumbnails_3 */
.thumbnails_3 { margin: 0 0 60px -20px; }

.thumbnails_3 .thumbnail_3 { margin: 21px 0 0 0; }

.thumbnails_3 .thumbnail_3 figure { width: 100%; text-align: center; }

.thumbnails_3 .thumbnail_3 small { margin-bottom: 13px; }

.thumbnails_3 .thumbnail_3 a.lead { margin: 16px 0 0px 0; display: inline-block; }

/* thumbnails_4 */
.thumbnails_4 { margin: 0 0 0px -20px; }

.thumbnails_4 .thumbnail_4 { margin: 23px 0 0 0; color: #bfbfbf; line-height: 20px; font-size: 12px; }

.thumbnails_4 .thumbnail_4 img { float: left; margin: 0 20px 0 0; }

.thumbnails_4 .thumbnail_4 blockquote { margin: 0; padding: 0; background: url(../img/blockquote.png) 0 0 no-repeat; display: block; border: none; overflow: hidden; }

.thumbnails_4 .thumbnail_4 blockquote em:first-child { padding-left: 30px; }

.thumbnails_4 .thumbnail_4 blockquote em + em { margin-top: 20px; display: block; }

.thumbnails_4 .thumbnail_4 .extra-wrap > span { color: #949494; float: right; display: inline-block; text-align: right; padding: 10px 2px 0 0; font-style: italic; }

/* thumbnails_5 */
.thumbnails_5 { margin: 0 0 0px -20px; }

.thumbnails_5 .thumbnail_5 { margin: 9px 0 0 20px; }

.thumbnails_5 .thumbnail_5 small { margin: -3px 0 14px 0; line-height: 18px; display: block; }

/*info-box*/

.info-box { background: url("../img/pattern-dot.png") repeat scroll 0 0 #EEEEEE !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #e4e4e4; padding: 6px; margin: 45px 0; }

.info-box-inner { background-image:linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-o-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-moz-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-webkit-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-ms-linear-gradient(bottom, #fafafa 0%, #fff 100%); -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #e4e4e4; padding: 17px; }

.info-box p { margin:0; }

.info-box h4 { font-size: 24px; line-height:26px; margin: 0; }

.info-box a { margin: 6px 0 0; }

.info-content { float:left; }

/*info-box-2*/

.info-box-2 { margin: 0 0 10px 0; }

.info-box-inner-2 { background-image:linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-o-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-moz-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-webkit-linear-gradient(bottom, #fafafa 0%, #fff 100%); background-image:-ms-linear-gradient(bottom, #fafafa 0%, #fff 100%); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; border-top: 0 none; border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding: 17px; }

.info-box-2 p { margin:0; }

.info-box-2 h4 { color: #2778C8; font-size: 24px; line-height:26px; margin: 0; }

.info-box-2 a { margin: 6px 0 0; }

.info-content-2 { float:left; }

.shadowdrop { position:absolute; background-image:url("../img/shadow-bottom.png"); background-repeat:no-repeat; background-position:top center; height:42px; width:100%; top:0; z-index:40; }

.shadow-large { position: relative; }

.shadow-large:before, .shadow-large:after { z-index: -1; position: absolute; content: ""; bottom: 9px; left: 10px; width: 50%; top: 80%; max-width:300px; -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }

.shadow-large:after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto; }

/*list-left-nav*/

ul.left-tab-links li { background: url("../img/marker.png") right 29px no-repeat #fff; font-size: 15px; font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif; width: 100%; -webkit-box-shadow: 3px 0 0 #F7F7F7 inset; -moz-box-shadow: 3px 0 0 #F7F7F7 inset; box-shadow: 3px 0 0 #F7F7F7 inset; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
}

ul.left-tab-links li:first-child { }

ul.left-tab-links { border-bottom: 1px solid #f3f3f3; margin: 5px 0; width: 100% !important; }

ul.left-tab-links a { border-top: 1px solid #f3f3f3; border-right: 1px solid #EEEEEE; color: #333333; display: block; padding: 0 0 0 16px; line-height: 60px; }

ul.left-tab-links a:hover { background-color: #169fe6; color: #fff; }

a.link-more { display: inline-block; padding-right: 25px; background: url("../img/link1_marker.png") right 6px no-repeat; font: italic 12px/15px 'MuseoSlab500Regular', arial, helvetica, sans-serif; margin-top: 29px; }

a.link-more:hover { text-decoration: underline; }

.ui-slider-tabs-list-wrapper .selected a { border-right: 3px solid #FFFFFF !important; -webkit-box-shadow: 3px 0 0 #169FEB inset; -moz-box-shadow: 3px 0 0 #169FEB inset; box-shadow: 3px 0 0 #169FEB inset; }

.ui-slider-tabs-list-wrapper { position: relative; font-family:Arial, sans-serif; float: left; z-index:50; }

.ui-slider-tabs-content-container { background-color:#fff; position: relative; margin-top: 5px; margin-bottom: 5px; float: right; z-index:1; overflow: hidden; }

.ui-slider-tab-content { position:absolute; display: none; top:0; left:0; }

/*list-banners*/
.list-banners { display: inline-block; margin: 0 0 30px 0; }

.list-banners li { border: 1px solid #F3F3F3; display: inline-block; float: left; margin-left: -1px; margin-top: -1px; padding: 15px 23px; width: 109px; }

.list-banners li:first-child { }

.list-banners li a { display: block; }

.list-banners li a img { opacity: 0.17; filter: alpha(opacity=10); width: 100%; }

.list-banners li a:hover img { opacity: 1; filter: alpha(opacity=100); -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease; behavior: url(js/PIE.htc); }

/*social icons*/
ul#social { display: inline-block; list-style: none outside none; margin: 0; width: 100%; }

#social a { display: block; float: left; height: 32px; margin: 0 9px 9px 0; width: 32px; }

#social a img { border: medium none; }

.tab-button { float: right; margin-top: 28px; }

/*list-news*/
.list-news { margin: 0 0 0 -10px; }

.list-news li { display: inline-block; float: left; width: 265px; margin-left: 10px; margin-top: 28px; }

.list-news li .img-circle { background: url(../img/date.jpg) 0 0 repeat-x #f4f4f4; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); margin-right: 20px; text-align: center; width: 67px; height: 52px; padding: 15px 0 0 0; font-size: 24px; line-height: 18px; color: #525050; float: left; }

.list-news li .extra-wrap { padding: 0 0 10px 1px; }

.list-news li h2 { margin: 0 0 8px 0; color: #949494; }

/*list-news*/

.footer-list-news { display: inline-block; margin: 0; }

.footer-list-news li { display: inline-block; float: left; margin-bottom: 15px; width: 100%; }

.footer-list-news li .img-circle { background: none repeat scroll 0 0 #F5F5F5; margin-right: 20px; float: left; width: 67px; }

.footer-list-news li .extra-wrap { padding: 0 0 0 0; }

.footer-list-news li h2 { margin: 0 0 8px 0; color: #949494; }

.footer-list-news li p { margin-bottom: 6px; }

.footer-list-news li p a { color: #999; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; margin-bottom: 6px; }

.footer-list-news li p a:hover { color: #169FE6; }

.footer-list-news li span { color: #777; }

/*list-services*/
.list-services { margin: 0 0 0 0px; }

.list-services li { display: block; overflow: hidden; margin: 28px 0 0 0px; }

.list-services li:first-child { margin-top: 0; }

.list-services li figure { float: left; margin: 5px 15px 6px 0; }

.list-services li small { display: block; margin-bottom: 11px; }

/**/
/*-- contacts page --*/
.indent-right { padding-right: 100px; }

.map { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: #f5f5f5 10px solid; width: 100%; height: 330px; margin: 35px 0 25px; }

.map iframe { width: 100%; height: 310px; border: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

address strong { font-weight: normal; display: block; margin-bottom: 22px; }

address span { display: inline-block; width: 73px; }

.contact-form { margin-top: 23px; }

.contact-form input { height: 41px; width: 100%; padding: 11px 10px 13px 10px; line-height: 17px !important; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; float: left; }

.contact-form label { min-height: 61px; position: relative; overflow: hidden; display: block; }

.contact-form .error, .contact-form .empty { display: none; position: relative; font-size: 11px; line-height: 14px; color: #169FE6; float: left; margin: 2px 0 4px 10px; min-width: 160px; }

.contact-form .success { display: none; color: #1c2129; padding-bottom: 5px; }

.contact-form textarea { width: 100%; height: 223px; padding: 8px 0 0 10px; resize: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.contact-form input, .contact-form textarea { -webkit-box-shadow: 0 1px 3px #E3E3E3; -moz-box-shadow: 0 1px 3px #E3E3E3; box-shadow: 0 1px 3px #E3E3E3; }

.contact-form input:focus, .contact-form textarea:focus { box-shadow: none; }

.contact-form .btn { margin: 30px 0 0 20px; }

/*privacy*/
.float { float: left; }

.float2 { float: right; }

/**/
/*404 page*/
.block-404 .span8 { text-align: center; }

.block-404 h1 { color: #169FE6; font-size: 60px; font-weight: 700; margin: 20px 0 0; }

.block-404 h2 { font-weight: 600; margin: 0 0 27px; }

.form-404 { width: 100%; margin-top: 8px; display: block; }

.form-404 input { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 0; box-shadow: none; height: 32px; width: 210px; line-height: 17px !important; padding: 6px 10px 7px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; }

.form-404 input:focus { box-shadow: none; }

.form-404 a.btn { margin: 0; text-align: center; float: right; }

/**/
/*-- end contacts --*/
/*--- content end ------*/
/*------ footer ------- */
footer { background: none repeat scroll 0 0 #111; color: #65676b; }

footer a { color: #65676b; }

footer a:hover { color: #ffffff; }

footer h2 { color: #FFFFFF; font-size: 14px; }

.footer-2 { padding: 15px 0 15px 0; text-align: center; }

/* Twitter */
ul#tweet-list { list-style: none outside none; margin: 0; }

.tweets { width:100%; padding:0; font-size:12px; line-height:16px; overflow:hidden; }

.tweets ul li, .tweets p { font-size:12px; line-height:16px; }

.tweets ul li { background: url("../img/bird-small.png") no-repeat scroll 8px 12px rgba(0, 0, 0, 0.2); padding:10px 10px 10px 35px; margin:0 0 15px 0; box-shadow: 0 0 1px #666666 inset; -moz-box-shadow: 0 0 1px #666666 inset; -webkit-box-shadow: 0 0 1px #666666 inset; }

.tweets ul li a { font-style:italic; font-weight:bold; font-size:12px; color:#999; }

/**/
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
 .slider {
 height: 350px;
 margin-top: 30px;
}
 .camera_caption > div {
 padding: 93px 30px 0 785px;
}
.camera_caption h1 {
 color: #333;
 font-size: 23px;
 font-weight: 900;
 letter-spacing: 0;
 line-height: 23px;
 margin: 0;
 text-transform: uppercase;
}
.camera_caption h2 {
 color: #169FE6;
 font-size: 18px;
 margin: 10px 0 0;
}
 .camera_caption h3 {
 font-weight: 600;
 margin: -5px 0 0 0;
}
.camera_caption p {
 margin-bottom: 0;
 margin-top: 10px;
}
 .camera_caption a {
 margin-top: 23px;
}
 .camera_wrap .camera_pag {
 bottom: 18px;
 left: 790px;
}
 .camera_wrap .camera_pag .camera_pag_ul li {
 width: 12px;
 height: 12px;
 -webkit-border-radius: 18px 18px 18px 18px;
 -moz-border-radius: 18px 18px 18px 18px;
 border-radius: 18px 18px 18px 18px;
}
 .thumbnails {
 margin-left: -30px;
}
 .thumbnails_3 .thumbnail_3 figure {
 width: 173px !important;
}
 .border-right {
 margin-right: 35px;
 padding-right: 64px;
}
 .list-banners li {
 background: none repeat scroll 0 0 #FFFFFF;
 width: 148px;
}
 .list-news {
 margin: 0 0 0 -40px;
}
 .list-news li {
 width: 315px;
 margin-left: 40px;
}
 .list-news li .img-circle {
 margin-right: 30px;
}
 .footer.list-news {
 margin: 0 0 0 -40px;
}
.footer.list-news li {
 width: 315px;
 margin-left: 40px;
}
.footer.list-news li .img-circle {
 margin-right: 30px;
}
 .thumbnails_5 {
 margin-left: -30px;
}
 .thumbnails_5 .thumbnail_5 {
 margin-left: 30px;
}
 .form-404 input {
 width: 280px;
}
 .map {
}
 .map iframe {
}
}
@media (max-width: 1199px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
.toggle-button {
display: none;
}
}
@media (max-width: 979px) {
 .thumbnails_3 .thumbnail_3 figure {
 width: auto;
}
.toggle-button {
display: none !important;
}
 .list-news {
 margin: 0 0 0 0px;
}
 .list-news li {
 margin-left: 0px;
}
 .list-news li {
 width: 100%;
}
.sidebar-blog-video iframe {
width: 100%;
height: auto;
}
 .footer.list-news {
 margin: 0 0 0 0px;
}
.footer.list-news li {
 margin-left: 0px;
}
.footer.list-news li {
 width: 100%;
}
 .thumbnails_4 {
 margin-left: 0;
}
 .thumbnails_4 li.span3 {
 width: 100% !important;
 margin-left: 0;
}
 h2 > span {
 display: inline;
}
 .list-services li figure {
 float: left;
}
 .indent-right {
 padding-right: 0;
}
 .contact-form input {
 width: 100%;
}
 .form-404 input {
 width: 100%;
}
 .form-404 a.btn {
 margin-top: 10px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.toggle-button {
display: none;
}

  /**/
  .camera_caption > div {
 padding: 5px 30px 0 485px;
}
 .camera_caption h1 {
 font-size: 23px;
 margin: 0;
}
 .camera_caption h2 {
 font-size: 15px;
}
 .camera_caption p {
 margin-bottom: 0;
}
 .camera_caption h3 {
 display: none;
}
 .camera_caption a {
 margin-top: 13px;
 padding: 8px 17px 9px 17px;
}
 .camera_wrap .camera_pag {
 bottom: 10px;
 left: 488px;
}
 .camera_wrap .camera_pag .camera_pag_ul li {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
}
  /**/
  .thumbnails li.span3 {
 width: 47%;
}
 .thumbnails_2 .thumbnail_2 div {
 overflow: visible;
 padding-top: 4px;
}
 .thumbnails_2 .thumbnail_2 div h2 {
 margin-bottom: 25px;
}
 .thumbnails_3 li.span2 {
 width: 45%;
}
 .border-right {
 margin-right: 15px;
 padding-right: 34px;
}
.list-banners li {
 border: 1px solid #EEEEEE;
 margin-left: -1px;
 margin-right: 0;
 margin-top: -1px;
 padding: 16px;
width: 87px;
}
.list-banners li:first-child {
}
 .float-none {
 float: none !important;
}
}
@media (max-width: 767px) {
 body {
 padding: 0;
 margin: 0;
}
 .container {
 padding: 0 20px;
}
.page-header1 {
margin: 0 0 20px;
}

  /**/
  .camera_caption > div {
 padding: 35px 0 0 345px;
}
 .camera_caption h1 {
 margin: 0;
}
 .camera_caption h2 {
 font-size: 25px;
}
 .camera_caption h3 {
 display: none;
}
 .camera_caption a {
 margin-top: 13px;
 padding: 8px 17px 9px 17px;
}
  /* slider */
  .camera_caption, .camera_wrap .camera_pag {
 display: none !important;
}
  /**/
  .thumbnails, .thumbnails_2, .thumbnails_3 {
 margin-left: 0;
}
 .thumbnails_3 .thumbnail_3 figure {
 float: left;
 margin-right: 20px;
}
 .border-right {
 margin-right: 0px;
 padding-right: 0px;
 border: none;
}
 .list-banners li, .list-banners li:first-child {
 background: none repeat scroll 0 0 #FFFFFF;
 width: 25%;
 padding-left: 20px;
 background: none;
 text-align: center;
}
 .list-banners li a {
 display: inline-block;
}
 .float {
 float: right !important;
}
 .float2 {
 float: left !important;
}
 .thumbnails_5 {
 margin-left: 0px;
}
 .thumbnails_5 .thumbnail_5 {
 margin-left: 0px;
}
/**/
}
@media (min-width: 626px) and (max-width: 767px) {
.camera_wrap {
left: 119px;
}
 .list-services li figure {
 float: left !important;
}
}
@media (max-width: 625px) {
.camera_wrap img {
width: 160% !important;
height: auto !important;
}
.camera_wrap {
height: 155px !important;
}
 .list-banners li, .list-banners li:first-child {
 width: 44%;
 padding-left: 0px;
 background: none;
 text-align: center;
}
 .list-banners li a img {
 width: auto;
}
}
/**/
@media (min-width: 482px) and (max-width: 625px) {
.camera_wrap {
left: 0;
height: 307px !important;
}
}
@media (max-width: 481px) {
 .thumbnails_3 .thumbnail_3 figure {
 float: none;
 margin-right: 0px;
 clear: both;
}
 .map {
 margin-bottom: 50px !important;
 border: none;
}
}
@media (min-width: 320px) and (max-width: 481px) {
}
@media (max-width: 320px) {
 .float-none {
 float: none !important;
}
}

/*Core variables and mixins*/
.clearfix { *zoom: 1;
}

.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }

.clearfix:after { clear: both; }

.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.input-block-level { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }



















/*=================================================AUDIO PLAYER=============================================================*/

/* Font Family
================================================== */

@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");


/* Desktop
================================================== */

.container { position:relative; margin:0 auto; width:700px; }
.column { width:inherit; }


/* Tablet (Portrait)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
.container { width:556px; }
}


/* Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
.container { width:300px; }
}


/* Mobile (Landscape)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.container { width:420px; }
}


/* CSS Reset
================================================== */

html,body,div,span,h1,h6,p,a,ul,li,audio {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

body { line-height:1; }
ul { list-style:none; }


/* Basic Styles
================================================== */

html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
background-color:#111;
color:#C8C7C8;
font:20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
padding:5px 0;
}

* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}


/* Typography
================================================== */

h1,h6,p { color:#808080; font-weight:200; }
h1 { font-size:42px; line-height:44px; margin:20px 0 0; }
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* CSS Transitions */
* {
-moz-transition:all 100ms ease;
-o-transition:all 100ms ease;
-webkit-transition:all 100ms ease;
transition:all 100ms ease;
}

/* Highlight Styles */
::selection { background-color:#262223; color:#444; }
::-moz-selection { background-color:#262223; color:#444; }


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { min-height:65px; position:relative; text-align:center; text-decoration:none; top:13px; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:#231F20; cursor:pointer; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; font-size:50px; margin:0; padding:0 27px 11px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }

/* IE 9 */
html[data-useragent*="MSIE 9.0"] audio { margin-left:9px; outline:none; width:680px; }
html[data-useragent*="MSIE 9.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #tracks { min-height:57px; top:5px; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="MSIE 9.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 9.0"] .plSel,
html[data-useragent*="MSIE 9.0"] .plSel:hover { background-color:#080808!important; }

/* IE 10 */
html[data-useragent*="MSIE 10.0"] audio { margin-left:6px; width:687px; }
html[data-useragent*="MSIE 10.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="MSIE 10.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 10.0"] .plSel,
html[data-useragent*="MSIE 10.0"] .plSel:hover { background-color:#080808!important; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { margin-left:2px; width:695px; }
html[data-useragent*="rv:11.0"] #audiowrap { background-color:#000; }
html[data-useragent*="rv:11.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="rv:11.0"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] #plList li { background-color:#000; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:#080808!important; }

/* All Apple Products */
html[data-useragent*="Apple"] audio { margin:0; width:100%; }
html[data-useragent*="Apple"] #audiowrap { background-color:#000; }
html[data-useragent*="Apple"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Apple"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="Apple"] a[id^="btn"]:hover { background-color:#080808; }
html[data-useragent*="Apple"] #plList li { background-color:#000; }
html[data-useragent*="Apple"] #plList li:hover { background-color:#080808; }
html[data-useragent*="Apple"] .plSel,
html[data-useragent*="Apple"] .plSel:hover { background-color:#080808!important; }

/* IOS 7 */
html[data-useragent*="OS 7"] body { color:#373837; }
html[data-useragent*="OS 7"] audio { margin-left:3px; width:690px; }
html[data-useragent*="OS 7"] #audiowrap { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 7"] a[id^="btn"] { background-color:#e6e6e6; color:#373837; }
html[data-useragent*="OS 7"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="OS 7"] #plList li { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] #plList li:hover { background-color:#eee; }
html[data-useragent*="OS 7"] .plSel,
html[data-useragent*="OS 7"] .plSel:hover { background-color:#eee!important; }

/* IOS 8 */
html[data-useragent*="OS 8"] body { color:#373837; }
html[data-useragent*="OS 8"] audio { margin-left:6px; width:694px; }
html[data-useragent*="OS 8"] #audiowrap { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 8"] a[id^="btn"] { background-color:#e4e4e4; color:#373837; }
html[data-useragent*="OS 8"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="OS 8"] #plList li { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] #plList li:hover { background-color:#eee; }
html[data-useragent*="OS 8"] .plSel,
html[data-useragent*="OS 8"] .plSel:hover { background-color:#eee!important; }

/* Chrome */
html[data-useragent*="Chrome"] audio { margin-left:6px; width:687px; }
html[data-useragent*="Chrome"] #tracks { min-height:64px; top:12px; }
html[data-useragent*="Chrome"] #audiowrap { background-color:#7BBF76; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:#131313; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:#161616; }
html[data-useragent*="Chrome"] #plList li { background-color:#C38383; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#161616; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#C38383!important; }

/* Chrome / Android / Tablet */
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:5px; width:682px; }


/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
audio { width:526px; }
html[data-useragent*="MSIE 9.0"] audio { width:536px; }
html[data-useragent*="MSIE 10.0"] audio { width:543px; }
html[data-useragent*="rv:11.0"] audio { width:551px; }
html[data-useragent*="OS 7"] audio { width:546px; }
html[data-useragent*="OS 8"] audio { width:550px; }
html[data-useragent*="Chrome"] audio { width:543px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:5px; width:538px; }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
audio { width:390px; }
html[data-useragent*="MSIE 9.0"] audio { width:400px; }
html[data-useragent*="MSIE 10.0"] audio { width:407px; }
html[data-useragent*="rv:11.0"] audio { width:415px; }
html[data-useragent*="OS 7"] audio { width:410px; }
html[data-useragent*="OS 8"] audio { width:414px; }
html[data-useragent*="Chrome"] audio { width:407px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:5px; width:403px; }
#npTitle { width:245px; }
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
audio { width:270px; }
html[data-useragent*="MSIE 9.0"] audio { width:280px; }
html[data-useragent*="MSIE 10.0"] audio { width:287px; }
html[data-useragent*="rv:11.0"] audio { width:295px; }
html[data-useragent*="OS 7"] audio { width:290px; }
html[data-useragent*="OS 8"] audio { width:294px; }
html[data-useragent*="Chrome"] audio { width:287px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:5px; width:283px; }
#npTitle { width:167px; }
}




.btn-launch,.btn-launch:hover, .btn-launch:active, .btn-launch:focus{
	background-color: #2ecc71;
    border: medium none #2ecc71;
    box-shadow: 0 3px 0 #d35400, 0 5px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 40px;
    margin-top:10%;
}

P.blocktext1 {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Rojo Biradar */

.centerayat {
    position: relative;
    bottom: 20px;
    width: 100%;
}

.centerayat img {
    max-width: 90%;
}

ul.nasihat li a, ul.nasihat li.seperator {
    color: #FFF;
    text-decoration: none;
}

ul.nasihat li {
    list-style: none;
    font-family: 'Neutraface2Display-Titling', arial, 'sans-serif';
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 0 9px;
}