body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #FFF;
  background: #2a7c41 url(img/bg.png) no-repeat left bottom;
  font-size: 1.5em;
}
div {
  border-radius: 10px;
}
hr {
  height: 3px;
  color: #b39961;
  background-color: #b39961;
  border: none;
}
img {
  vertical-align: middle;
}
a {
  color: #065cc0;
  text-decoration: none;
}
a:hover {
  color: #00ccca;
  text-decoration: underline;
}
#TablePrincipal {
  border: 0px solid black;
  width: 100%;
}
.box {
  margin: 10px -10px;
  padding: 10px;
  background: #2a7c41;
  border: 2px solid #7bbf76;
  text-align: center;
}
.content {
  text-align: center;
}
.menu_note {
  margin-bottom: 10px;
  text-align: center;
  font-size: x-small;
}
.nav {
  background: #7bbf76 url(img/bg_head.png);
  background-size: 110%;
  border-radius: 0px;
  z-index: 0;
}
.nav a {
  color: #b54018;
  display: block;
  height: 51px;
  padding-top: 18px;
  text-decoration: none;
  width: 238px;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.nav a:hover {
  font-weight: bold;
  color: #b54018;
  text-decoration: none;
}
.nav a:last-child {
  background: url(img/nav4.png) no-repeat;
  padding-left: 48px;
  margin-right: -14px;
}
.nav a:first-child {
  padding-left: 100px;
}
.nav a:first-child::before {
  background: url("img/nav4.png") repeat scroll 0 0 transparent;
  content: "";
  height: 200%;
  left: -237px;
  position: absolute;
  top: 0;
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 200%;
  z-index: -1;
}


.nav1 {
  border-radius: 0px;
  z-index: 0;
  
  margin: 0;
  padding: 0;
}
.nav1 a {
  color: #b54018;
  display: block;
  height: 51px;
  padding-top: 18px;
  text-decoration: none;
  width: 100%;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.nav1 a:hover {
  font-weight: bold;
  color: #b54018;
  text-decoration: none;
}
.nav1 a:last-child {
  background-repeat : no-repeat;
  background-image : url("img/nav3.png");
  background-position: center; 
  padding-left: 48px;
  margin-right: -14px;
}
.nav1 a:first-child {
  padding-left: 0px;
}

.nav1 ul {
  text-align: center;
}

.title {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background: #7BBF76 url(img/bg_head.png);
  background-size: 100%;
}
.News_titre {
  background-color: GoldenRod;
  font-weight: bolder;
  text-align: center;
  border-radius: 0px;
  margin-top: 16px;
}
.News_texte {
  border: 3px solid GoldenRod;
  padding: 0 16px;
  border-radius: 0px;
  text-align: left;
}
.sub_tittle {
  text-align: center;
  font-size: medium;
  color: #ff5000;
  font-weight: bold;
}
.Calendrier {
  margin: 0px auto;
  width: 500px;
}
@media (max-width: 480px) {
  .Calendrier {
    width: 325px;
  }
}
@media (max-width: 320px) {
  .Calendrier {
    width: 300px;
    font-size: 0.75em;
  }
}
.Calendrier_Legende {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #000000;
}
.Calendrier_Legende_Cadre {
  border: 2px solid black;
  width: 200px;
  height: 60px;
  margin: 10px auto;
  padding: 7px;
}
#PanelPersonneACollecter div {
  overflow-y: auto;
  max-height: 550px;
}
@media (max-width: 992px) {
  #PanelPersonneACollecter div {
    overflow-y: hidden;
    max-height: none;
    font-size: 0.8em;
  }
}
.Popup {
  background: none repeat scroll 0 0 #fff;
  border: 20px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  font-size: 1.1em;
  padding: 20px;
  position: fixed;
  top: 2.5%;
  z-index: 6;
}
@media (max-width: 992px) {
  .Popup {
    position: absolute;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .Popup {
    left: 0px;
    top: image-width("img/bg_head.png");
  }
}
.Popup_fond {
  background: none repeat scroll 0 0 #000;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  border-radius: 0px;
}
.Popup_close {
  float: right;
  margin: -55px -55px 0 0;
}
.Popup_load {
  background: none repeat scroll 0 0 #fff;
  border: 20px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  font-size: 1.1em;
  padding: 20px;
  position: fixed;
  top: 2.5%;
  z-index: 6;
  top: 45%;
  left: 45%;
}
@media (max-width: 992px) {
  .Popup_load {
    position: absolute;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .Popup_load {
    left: 0px;
    top: image-width("img/bg_head.png");
  }
}
.Popup_load_fond {
  background: none repeat scroll 0 0 #000;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  border-radius: 0px;
}
.Popup_load_close {
  float: right;
  margin: -55px -55px 0 0;
}
@media (max-width: 992px) {
  .Popup_load {
    left: 40%;
  }
}
@media (max-width: 768px) {
  .Popup_load {
    left: 35%;
  }
}
@media (max-width: 480px) {
  .Popup_load {
    left: 30%;
  }
}
@media (max-width: 320px) {
  .Popup_load {
    left: 12.5%;
  }
}
.feedback_Question {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  color: #b54018;
  font-weight: bold;
  background: #b39961 url(img/bg_head.png);
  background-size: 100%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px;
  height: 100%;
  display: block;
}
@media (max-width: 480px) {
  .feedback_Question {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .feedback_Question {
    font-size: 10px;
  }
}
.feedback_Question:hover {
  color: #ff1919;
  text-decoration: none;
}
.ListCollecteur {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
  height: 168px !important;
}
@media (max-width: 768px) {
  .ListCollecteur {
    height: auto;
  }
}
.InfoCollecteur {
  background-color: #ff9;
  border: 2px solid black;
  height: 223px;
  padding: 5px;
}
@media (max-width: 768px) {
  .InfoCollecteur {
    height: auto;
  }
}
.maps {
  border: 2px solid black;
  border-radius: 10px;
  height: 250px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}
.Error {
  background-color: red;
  color: white;
  display: block;
  font-family: Arial;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  font-size: 12pt;
}
.Range {
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  display: inline-block !important;
  margin-bottom: -7px;
  margin-left: 0;
  padding: 2px;
  width: 100px !important;
  z-index: 0;
}
.ValueRange {
  font-family: arial;
  font-size: 11pt;
  font-weight: bold;
  margin: 0 46px 0 -56px;
  text-align: center;
  z-index: -2;
}
.FiltreCP {
  width: 53px;
}
.fond_blanc {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  width: 98%;
  margin: 0px auto;
}
.date {
  text-align: center;
}
.MenuNonDefini {
  font-size: x-small;
  color: #a1a1a1;
}
.DateBloque {
  font-weight: bold;
  color: #ff0000;
}
#CopyRight {
  text-align: center;
  font-size: x-small;
}
.Communication,
.MessageCommunication {
  font-family: arial;
  font-size: 0.75em;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  width: 80%;
}
.Communication:first-letter,
.MessageCommunication:first-letter {
  text-transform: uppercase;
}
.MessageCommunication {
  width: 95%;
}
.ui-tooltip {
  background: Khaki;
  border: 2px solid white;
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  font: bold 0.9em "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px #000000;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  background: Khaki;
  border: 2px solid white;
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #000000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
th {
  text-align: center;
}

.centrage {text-align: center;}